body{
  position: relative;
  font-size: 12px;
  font-weight: 100;
  font-family: $ff5;
}
.container{
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}
.container-fluid{
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.hide{
  display: none;
}
.btn{
  display: inline-block;
  padding:  0.3rem 0.2rem;
  text-decoration: none;
  color: $lightblue;
  border: 1px solid rgba($lightblue, 0.4);
  &:hover {
    opacity: 0.6;
  }
}