.header{
    position: relative;
    display: block;
    width: 100%;
    .top-bar{
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        padding: 1rem 0;
        display: block;
        @include sm{
            width: 100%;
        }
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }
    .logo {
        display: inline-block;
        padding-left:1rem;
        font-family: $ff3;
        text-transform: capitalize;
        z-index: 4;
        font-size: 2rem;
        @include sm{
            padding-left: 0;
        }
        a {
            cursor: pointer;
            color:$white;
            text-decoration: none;
            transition: color 500ms ease-in-out;
            &:hover{
                color: $accent;
            }
        }
    }
    .navigation{
        position: relative;
        width: 50%;
        z-index: 2;
        .unstyle {
            list-style: none;
            text-decoration: none;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            a {
                cursor: pointer;
                position: relative;
                display: inline-block;
                width:100%;
                padding-left:0.1rem;
                text-decoration: none;
                font-family: $ff5;
                font-size: 0.7rem;
                text-transform: uppercase;
                color:$white;
                font-weight: 400;
                transition: 500ms ease-in color;
                &::after {
                    content: '';
                    position: absolute;
                    left:0.1rem;
                    bottom:-5px;
                    width: 2.5rem;
                    height: 1px;
                    background: $white;
                    transition: 500ms ease-in background;
                }
                &:hover{
                    color:$white;
                    &::after{
                        background:$accent;
                    }
                }
            }
            .menu-item{
                cursor: pointer;
                padding: 1rem;
                transition: 500ms ease-in transform;
                &.active a{
                  color:$accent;
                }
            }
        }
    }
@include cmx(960) {
    .navigation{
        position: absolute;
        top:0;
        left: 0;
        background: $light-gray;
        transform: translateX(-100%);
        transition: 500ms ease-in transform;
        width: 60%;
        z-index: 9;

        &.show{
            transform: translateX(0);
        }
        .unstyle{
            height: 100vh;
            list-style: none;
            margin:3rem 0 0 0;
            padding:0;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            overflow-x: hidden;

            a {
                position: relative;
                display: block;
                width:100%;
                padding-left:2rem;
                text-decoration: none;
                font-family: $ff5;
                font-size: 0.7rem;
                text-transform: uppercase;
                color:$black;
                font-weight: 400;
                transition: 500ms ease-in color;
                &::after {
                    content: '';
                    position: absolute;
                    left:2rem;
                    bottom:-1rem;
                    width: 2.5rem;
                    height: 2px;
                    background: $white;
                    transition: 500ms ease-in left;
                }
                &:hover{
                    color:$white;
                    &::after{
                        left:100%;
                        background:$cons;
                    }
                }
            }
            .menu-item{
                transform: translate3d(-500px, 0 ,0);
                width: 100%;
                padding: 1rem 0 1rem 0;
                border-bottom: 1px solid $white;
                transition: 500ms ease-in transform;
                &.active a{
                    color:$danger;
                }
                &.show{
                    transform: translate3d(0,0,0);
                }
            }
            // delay each nav item 
            @for $x from 1 through 5 {
                .menu-item:nth-child(#{$x}){
                    transition-delay: $x * 0.2s;
                }
            }
        }

    }
}
    .search-toggle-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        @include cmx(960){
            .toggle-wrap{
                cursor: pointer;
                display: inline-block;
                padding:0.9rem 0.7rem 1.2rem 0.7rem;
                .nav-toggle{
                    position: relative;
                    display: inline-block;
                    width: 1.3rem;
                    border-radius: 12px;
                    background:$white;
                    height: 2px;
                    &::before, &::after{
                        content: '';
                        position: absolute;
                        background:$white;
                        border-radius: 12px;
                        width: 1.3rem;
                        height: 2px;
                        left:0;
                        transition: 500ms ease-in transform;
                    }
                    &::before{
                        top:-6px;
    
                    }
                    &::after{
                        top:5px;
                        transform: translateY(1px);
                    }
                    &.close{
                        height: 0;
                        &::before, &::after{
                            content: '';
                            background:$danger;
                            transform: rotate(360deg);
                        }
                        &::before{
                            transform: rotate(45deg) translate(3px,3px);
                        }
                        &::after{
                            transform: rotate(-45deg) translate(5px,-5px);
                        }
                    }
                }
            }
        }
        .search-form{
            display: block;
            position: absolute;
            top:0;
            left:0;
            right:0;
            width:125%;
            //height: 100vh;
            background: $light-gray;
            transform: translateY(-100%);
            transition: 500ms ease-in transform;
  
            @include sm{
                width: 100%;
 
            }
            input{
                display: inline-block;
                width: 60%;
                margin:5rem 0 4rem 3rem;
                border:0;
                border-bottom: 1px solid $accent;
                font-family: $ff5;
                font-size: 1.2rem;
                padding:0.4rem;
                &::placeholder{
                    color: darken($light-gray, 10%);
                }
            }
            button{
                cursor: pointer;
                display: inline-block;
                border:none;
                padding: 0.5rem 1.2rem;
                background:$accent;
                color:$white;
                font-size: 1rem;
                border-radius: 5px;
                @include tn(background);
                &:hover{
                    background: $cons;
                }
            }
            .search-closer{
                display: inline-block;
                cursor: pointer;
                height: 1.8rem;
                width: 1.8rem;
                background: $danger;
                position: absolute;
                top:45px;
                left:3rem;
                z-index: 99;
                @include tn(background);
                border-radius: 3px;
                &::before,&::after{
                    content: '';
                    position: absolute;
                    width: 1.4rem;
                    height: 2px;
                    background: $white;
                    top:-3px;
                    left: 3px;
                  
                }
                &::before{
                    transform: rotate(45deg) translate(12px, 12px);
                }
                &::after{
                    transform: rotate(-45deg) translate(-12px, 12px);
                }
                &:hover{
                    background: $accent;
                }
            }
            &.show{
                transform: translateY(0px);
                z-index: 125;

            }
        }

        .search-icon{
            display: inline-block;
            cursor: pointer;
            color:$white;
            font-size: 0.8rem;
            font-weight: 100;
            margin-right: 1rem;
            padding-top:4px;
        }
    }
}
