$white: #ffffff;
$light-gray: #f7f7f7;
$danger: #c75151;
$warning: #ffe882;
$success: green;
$black:#2b2626;
$bg:#f3f9e5;

$steel: #1a1a1a;
$f7: #f7f7f7;
$f2: #f2f2f2;

$cons: #3b3759;
$lightblue: #e4d582;

// color pallet 
$light-bluish: #e4d582;
$dark-bluish: #e4d582;
$accent: #c9b14a;
$dark-accent: #e4d582;
$xtradark-accent: #e4d582;

$gr1: #e4d582;

