$white: #ffffff;
$light-gray: #f7f7f7;
$danger: #aa5377;
$warning: #ffe882;
$success: green;
$black:#2b2626;
$bg:#f3f9e5;

$cons: #3b3759;
$lightblue: #7aacb3;

// color pallet 
$light-bluish: #7aacb3;
$dark-bluish: #4c6e81;
$accent: #cf8da7;
$dark-accent: #aa5377;
$xtradark-accent: #3b3759;

$gr1: #614385;

